[Unit]
Description=Auto Update Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /boot/firmware/skyhound/auto_update.py
WorkingDirectory=/boot/firmware/skyhound
StandardOutput=inherit
StandardError=inherit
User=root

[Install]
WantedBy=multi-user.target

