[Unit]
Description=Startup process to grab ADSB data from Stratux
After=network.target

[Service]
Type=simple
StandardOutput=null
ExecStartPre=/bin/bash /boot/firmware/skyhound/stratux_adsb_prep.sh
ExecStart=/usr/bin/python3 /run/stratux_wswrite.py

[Install]
WantedBy=multi-user.target
