[Unit]
Description=Disply ADSB data to LCD hat
After=network.target

[Service]
Type=idle
StandardOutput=null
ExecStartPre=/bin/sleep 15
ExecStartPre=/bin/bash /boot/firmware/skyhound/stratux_2LCD-ADSB_prep.sh
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/python3 /run/stratux_2LCD-ADSB.py

[Install]
WantedBy=multi-user.target
